
.titleMyProjects{
  padding: 2%;
  font-size: 5vh;
  text-align: center;
}

.grid-container{
  display: grid;
  grid-template-areas:
  'menu header header header header '
  'menu main main main right '
  'menu footer footer footer footer ';
  grid-gap: 10px;
  padding: 10px;
  margin: 50px;

}

.item1 { grid-area: header;height: 200px; background-image: url("../images/priva.png" );   background: cover; background-repeat: no-repeat; background-size:cover; transition: transform 900ms;
}
.item2 { grid-area: menu; background-image: url("../images/menu.png" );   background: cover; background-repeat: no-repeat; background-size:cover; transition: transform 900ms;}
.item3 { grid-area: main;  height: 200px; background-image: url("../images/vueOnePage.png" );   background: cover; background-repeat: no-repeat; background-size:cover;transition: transform 900ms; }
.item4 { grid-area: right;  height: 200px; transition: transform 900ms; background-image: url("../images/googlemap.png" );   background: cover; background-repeat: no-repeat; background-size:cover; transition: transform 900ms;  }
.item5 { grid-area: footer;  height:200px; background-image: url("../images/book.png" );   background: cover; background-repeat: no-repeat; background-size:cover; transition: transform 900ms;}

.item1:hover{
  box-shadow: inset 0px 5px 10px rgba(0, 0, 0, .25);
  cursor: pointer;
  transform: scale(1.1);
}

.item2:hover{
  box-shadow: inset 0px 5px 10px rgba(0, 0, 0, .25);
  cursor: pointer;
  transform: scale(1.1);
}

.item3:hover{
  box-shadow: inset 0px 5px 10px rgba(0, 0, 0, .25);
  cursor: pointer;
  transform: scale(1.1);
}

.item4:hover{
  box-shadow: inset 0px 5px 10px rgba(0, 0, 0, .25);
  cursor: pointer;
  transform: scale(1.1);
}
.item5:hover{
  box-shadow: inset 0px 5px 10px rgba(0, 0, 0, .25);
  cursor: pointer;
  transform: scale(1.1);
}

.grid-container > div {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
  border: 2px solid black;
}



