
.titleMyProjects{
  padding: 2%;
  font-size: 5vh;
  text-align: center;
}

.grid-container{
  display: grid;
  grid-template-areas:
  'menu header header header header '
  'menu main main main right '
  'menu footer footer footer footer ';
  grid-gap: 10px;
  padding: 10px;
  margin: 50px;
  /* /////////////////////////////////// */
  /* display: grid;
  grid-template-columns: 100px 1fr 1fr 1fr  ;
  grid-template-rows: repeat(5, 100px);
  grid-template-areas: 
  "for one one one"
  "for tree tree two "
  "for tree tree two "
  "for five five  five" */
  /* ///////////////////////////// */
  
}

/* .grid-item {
  border: 1px solid black;
    width: 300px;
    height: 300px;
    border: 2px solid black;
} */
/* background-color: rgba(44, 194, 169, 0.8); height: 200px; */
.item1 { grid-area: header;height: 200px;  background-image: url("../images/googlemap.png" );   background: cover; background-repeat: no-repeat; background-size:cover;  }
.item2 { grid-area: menu; background-image: url("../images/menu.png" );   background: cover; background-repeat: no-repeat; background-size:cover; }
.item3 { grid-area: main; background-color: rgba(122, 44, 194, 0.8); height: 200px;  }
.item4 { grid-area: right; background-color: rgba(194, 44, 187, 0.8); height: 200px; }
.item5 { grid-area: footer;  height:200px; background-image: url("../images/book.png" );   background: cover; background-repeat: no-repeat; background-size:cover; }

.grid-container > div {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
  border: 2px solid black;
}


/* .div1{
  background-color: rgb(42, 50, 165);
  width: 100%;
  height: 100%;
 
  
}

.div2{
  background-color: brown;
  width: 100%;
  height: 100%;
 


}
.div3{
  background-color: rgb(165, 126, 42);
  width: 100%;
  height: 100%;
 
  
}

.div4{
  background-color: rgb(42, 165, 58);
  width: 100%;
  height: 100%;
  
 
}

.div5{
  background-color: rgb(165, 42, 165);
  width: 100%;
  height: 100%;

} */
